
@keyframes sexy {
 
  from {
    background: linear-gradient(to right, MidnightBlue0%, white 100%);
    color: black;
    background-blend-mode: color-dodge;
    text-align: center;
  }
  to {
    background: linear-gradient(to right, white 0%, MidnightBlue 100%);
    color: white;
    text-align: center;
  }
}

.sexy {
  animation: sexy 4s forwards;
}



@keyframes sexySuper {
 
  from {
    background: linear-gradient(to right, white 0%, MidnightBlue 100%);
    color: black;
    background-blend-mode: color-dodge;
    width: 100%;
    height: 100%;
    
  }
  to {
    background: linear-gradient(to right, MidnightBlue 0%, white 100%);
    color: white; 
    width: 100%;
    height: 100%;
   }
};

.sexySuper {
  animation: sexySuper 4s forwards;
}

.howToPlay {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.overSky{
background-image: url("../images/awesome.jpg");
background-size: cover;
}

img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

p:hover {
  background-color: red;
  border: 5px solid black;
}
/*.panel{
border: 5px solid black;
background-repeat: no-repeat;
background-size: cover;
color: white;
border-color: 3px solid ;
width: 100%;
display: block;
};
*/

.divIt { 
  background-image: linear-gradient(to right, red 0%,white 100%);
  background-blend-mode: color-dodge;
}


body {
	background-image: url("../images/panelBG.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

h1 { 
	text-align: center;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
	font-weight: bold;
}

p {
	  margin: 3px; 
    padding: 3px;
    border: 2px solid red;
    background-color: black;
    color: white; 
}


#mainTitle{
 background-color: white;
 color: black;
 border: 3px solid LightSeaGreen;
}

#points {
	text-align: center;
  display: block;
  color: Chartreuse;
  font-size: 300%;
  font-weight: 10px;
  background-image: url("../images/cosmos.jpg");
  background-size: cover;
}

#theseScores {
  text-align: center;
  display: block;
  color: Chartreuse;
  font-size: 300%;
  font-weight: 10px;
  background-image: url("../images/cosmos.jpg");
  background-size: cover;
}

#scoreToMeet{
  text-align: center;
  display: block;
  color: Chartreuse;
  font-size: 200%;
  font-weight: 10px;
  background-image: url("../images/cosmos.jpg");
  background-size: cover;

}

#given {
  text-align: center;
  display: block;
  color: Chartreuse;
  font-size: 300%;
  font-weight: 10px;
  background-image: url("../images/cosmos.jpg");
}


#instructions{
  color: white;
}

#gemRow{
   background-image: url("../images/comet.jpg");
   background-size: cover;
}