
@keyframes sexy {
 
  from {
    background: linear-gradient(to right, MidnightBlue0%, white 100%);
    color: black;
    background-blend-mode: color-dodge;
    text-align: center;
  }
  to {
    background: linear-gradient(to right, white 0%, MidnightBlue 100%);
    color: white;
    text-align: center;
  }
}

.sexy {
  animation: sexy 4s forwards;
}



@keyframes sexySuper {
 
  from {
    background: linear-gradient(to right, white 0%, MidnightBlue 100%);
    color: black;
    background-blend-mode: color-dodge;
    width: 100%;
    height: 100%;
    
  }
  to {
    background: linear-gradient(to right, MidnightBlue 0%, white 100%);
    color: white; 
    width: 100%;
    height: 100%;
   }
};

.sexySuper {
  animation: sexySuper 4s forwards;
}

.howToPlay {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.overSky{
background-image: url("../images/awesome.jpg");
background-size: cover;
}

img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

p:hover {
  background-color: red;
  border: 5px solid black;
}

/*.panel{
border: 5px solid black;
background-repeat: no-repeat;
background-size: cover;
color: white;
border-color: 3px solid ;
width: 100%;
display: block;
};
*/

.divIt { 
  background-image: linear-gradient(to right, red 0%,white 100%);
  background-blend-mode: color-dodge;
}


body {
	background-image: url("../images/panelBG.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

h1 { 
	text-align: center;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
	font-weight: bold;
}

p {
	  margin: 3px; 
    padding: 3px;
    border: 2px solid red;
    background-color: black;
    color: white; 
}


#mainTitle{
 background-color: white;
 color: black;
 border: 3px solid LightSeaGreen;
}

#points {
	text-align: center;
  display: block;
  color: Chartreuse;
  font-size: 300%;
  font-weight: 10px;
  background-image: url("../images/cosmos.jpg");
  background-size: cover;
}

#theseScores {
  text-align: center;
  display: block;
  color: Chartreuse;
  font-size: 300%;
  font-weight: 10px;
  background-image: url("../images/cosmos.jpg");
  background-size: cover;
}

#scoreToMeet{
  text-align: center;
  display: block;
  color: Chartreuse;
  font-size: 200%;
  font-weight: 10px;
  background-image: url("../images/cosmos.jpg");
  background-size: cover;

}

#given {
  text-align: center;
  display: block;
  color: Chartreuse;
  font-size: 300%;
  font-weight: 10px;
  background-image: url("../images/cosmos.jpg");
}


#instructions{
  color: white;
}

#gemRow{
   background-image: url("../images/comet.jpg");
   background-size: cover;
}


/* new stuff below*/
.star {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    background: #F6F6F6;
    overflow: hidden;
    z-index: 2;
    animation: glitter 4.5s linear 0s infinite normal;
    -webkit-animation: glitter 4.5s linear 0s infinite normal;
    -moz-animation: glitter 4.5s linear 0s infinite normal;
    -ms-animation: glitter 4.5s linear 0s infinite normal;
    -o-animation: glitter 4.5s linear 0s infinite normal;
}
.star-top,
.star-bottom {
    position: relative;
    display: block;
}
.star-top:before,
.star-top:after,
.star-bottom:before,
.star-bottom:after {
    content: "";
    width: 48px;
    height: 48px;
    background: #212121;
    border-radius: 50%;
    position: absolute;
}
/*CSS3 pseudo class for positioning curves*/

.star-top:before {
    top: -24px;
    left: -24px;
}
.star-top:after {
    bottom: -24px;
    left: 24px;
}
.star-bottom:before {
    top: 24px;
    left: -24px;
}
.star-bottom:after {
    top: 24px;
    left: 24px;
}
/*CSS3 keyframes for glittering effect*/

@-webkit-keyframes glitter {
    0% {
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
    25% {
        -webkit-transform: scale(0.5);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}
@-moz-keyframes glitter {
    0% {
        -moz-transform: scale(1.0);
        opacity: 1;
    }
    25% {
        -moz-transform: scale(0.5);
        opacity: 0;
    }
    50% {
        -moz-transform: scale(1.0);
        opacity: 1;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(1.0);
        opacity: 1;
    }
}